In [1]:
import pandas as pd

Import the “Adult.csv” File into Jupyter Notebooks.

In [9]:
df = pd.DataFrame()
df = pd.read_csv('adult.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Question-1) Add relevant headers to the file.

In [32]:
headers = ['Age','Sector','ID','Degree','Education Years',
           'Status','Position','Relative','Race','Gender',
          'num2','num3','num4','Country','Salary']

df.columns = headers
df.head()

,Age,Sector,ID,Degree,Education Years,Status,Position,Relative,Race,Gender,num2,num3,num4,Country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Question-2) How many male and female members are there in this dataset?

In [12]:
df['Gender'].value_counts()

Male      21790
Female    10771
Name: Gender, dtype: int64

Question-3) What are the mean and standard deviation of age for those who earn more
than 50K per year (salary feature) and those who earn less than 50K per year?

In [29]:
print(df.groupby('Salary')['Age'].mean(),'\n')
print(df.groupby('Salary')['Age'].std())

Salary
<=50K    36.783738
>50K     44.249841
Name: Age, dtype: float64

Salary
<=50K    14.020088
>50K     10.519028
Name: Age, dtype: float64

Question-4) Is it true that people who earn more than 50K have at least high school
education?

In [26]:
df[df['Salary']=='>50K']['Degree'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: Degree, dtype: int64

Question-5) Display age statistics for each race (race feature) and each gender (sex feature).

In [36]:
print(df.groupby('Race')['Age'].describe())
print(df.groupby('Gender')['Age'].describe())

                      count       mean        std   min   25%   50%   75%  \
Race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
Race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
          count       mean        std   min   25%   50%   75%   max
Gender
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

Question-6) Among whom is the proportion of those who earn a lot (>50K) greater: married
or single men (marital-status feature)? Consider as married those who have a marital-status
starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse),
the rest are considered bachelors.

In [45]:
df[df['Gender']=='Male'].groupby('Salary')['Status'].value_counts()

Salary  Status
<=50K   Married-civ-spouse       7381
        Never-married            5591
        Divorced                 1487
        Separated                 345
        Married-spouse-absent     190
        Widowed                   129
        Married-AF-spouse           5
>50K    Married-civ-spouse       5938
        Never-married             325
        Divorced                  284
        Separated                  49
        Widowed                    39
        Married-spouse-absent      23
        Married-AF-spouse           4
Name: Status, dtype: int64